[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
lmdb = "*"
torch = "*"
torchvision = "*"
pandas = "*"
kornia = "*"
torchmetrics = "*"
pytorch-lightning = "*"
natsort = "*"
kaggle = "*"
importlib-metadata = "*"

[dev-packages]
torch-tb-profiler = "*"
tensorboard = "*"

[requires]
python_version = "3.7"
