[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
lmdb = "*"
torch = "*"
torchvision = "*"
pandas = "*"
kornia = "*"
importlib_metadata = "*"
torchmetrics = "*"
pytorch-lightning = "*"
natsort = "*"

[dev-packages]
torch-tb-profiler = "*"
tensorboard = "*"
